.DS_Store
../.idea/
*.iml
vendor/
node_modules/
cache/
tmp/
logs/
*.log
.env
conf/db.php
conf/*.php
uploads/
files/
user_data/
backup/
*.bak
*.zip
*.tar
*.tar.gz
coverage/
tests/_output/
*.swp
*.swo
*.tmo